<div class="container">
  <div class="row">
    <app-photographer-card
      class="py-3 col-12 col-md-6 col-lg-4"
    ></app-photographer-card>
    <app-photographer-card
      class="py-3 col-12 col-md-6 col-lg-4"
    ></app-photographer-card>
    <app-photographer-card
      class="py-3 col-12 col-md-6 col-lg-4"
    ></app-photographer-card>
    <app-photographer-card
      class="py-3 col-12 col-md-6 col-lg-4"
    ></app-photographer-card>
    <app-photographer-card
      class="py-3 col-12 col-md-6 col-lg-4"
    ></app-photographer-card>
    <app-photographer-card
      class="py-3 col-12 col-md-6 col-lg-4"
    ></app-photographer-card>
    <app-photographer-card
      class="py-3 col-12 col-md-6 col-lg-4"
    ></app-photographer-card>
    <app-photographer-card
      class="py-3 col-12 col-md-6 col-lg-4"
    ></app-photographer-card>
  </div>
</div>
