<div
  class="header-nav container d-flex flex-column flex-sm-row justify-content-between align-items-center py-4"
>
  <div class="logo pb-5 pb-md-0">
    <a href="#">Leica</a>
  </div>
  <nav class="text-center">
    <ul
      class="d-flex flex-column flex-md-row justify-content-between list-unstyled m-0"
    >
      <li class="pl-2"><a href="#">Home</a></li>
      <li class="pl-2"><a href="#">Gallery</a></li>
      <li class="pl-2"><a href="#">Hire Photographer</a></li>
      <li class="pl-2"><a href="#">Login</a></li>
      <li class="pl-2"><a href="#">Register</a></li>
    </ul>
  </nav>
</div>
