<div
  class="header-nav container d-flex justify-content-between align-items-center py-4"
>
  <div class="logo">
    <a href="#">Leica</a>
  </div>
  <nav>
    <ul class="d-flex justify-content-between list-unstyled m-0">
      <li class="pl-2"><a href="#">Home</a></li>
      <li class="pl-2"><a href="#">Gallery</a></li>
      <li class="pl-2"><a href="#">Hire Photographer</a></li>
      <li class="pl-2"><a href="#">Login</a></li>
      <li class="pl-2"><a href="#">Register</a></li>
    </ul>
  </nav>
</div>
