<div
  class="header-nav container d-flex justify-content-between align-items-center py-3 position-relative"
>
  <div class="logo pb-md-0">
    <a routerLink="/" (click)="onCloseSidenav()">Leica</a>
  </div>
  <button
    class="d-md-none p-2 border-0 position-absolute rounded-circle"
    id="toggle"
    mat-icon-button
    color="primary"
    (click)="onToggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <nav class="text-center">
    <ul class="d-none d-md-flex justify-content-between list-unstyled m-0">
      <li *ngFor="let item of navigation" class="pl-md-3">
        <a [routerLink]="item.route">{{ item.name }}</a>
      </li>
    </ul>
  </nav>
</div>
