@import '../../../../styles';

.bg-img-register {
  background-image: url('../../../../assets/pexels-marek-339379.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: to-rem(840px);

  @include media-breakpoint-up(md) {
    min-height: to-rem(896px);
  }
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

mat-vertical-stepper {
  background-color: transparent;
  margin: to-rem(14px) auto 0 auto;

  @include media-breakpoint-up(md) {
    margin-top: to-rem(42px);
    width: 75%;
  }

  button:hover {
    background-color: color('white');
    color: color('dark-gray');
  }

  app-file-uploader {
    width: to-rem(203px);
  }
}
