<div class="w-100">
  <a
    href="javascript:"
    role="menuitem"
    class="fileuploader d-block bg-white text-decoration-none"
    appDragDropFileUpload
    (click)="fileField.click()"
    (fileDropped)="upload($event)"
  >
    <div class="img-wrapper d-flex justify-content-center px-3 py-2">
      <mat-icon *ngIf="!hasFiles" color="primary">add_a_photo</mat-icon>
      <div [class.m-0]="!hasFiles" class="row px-md-2">
        <img
          *ngIf="hasFiles"
          class="col-6 col-md-4 py-2"
          src="./assets/damon-lam-EPtdHtltZLk-unsplash.jpg"
          alt=""
        />
        <img
          *ngIf="hasFiles"
          class="col-6 col-md-4 py-2"
          src="./assets/damon-lam-EPtdHtltZLk-unsplash.jpg"
          alt=""
        />
        <img
          *ngIf="hasFiles"
          class="col-6 col-md-4 py-2"
          src="./assets/damon-lam-EPtdHtltZLk-unsplash.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="info text-center border-top py-1">{{ label }}</div>
    <input
      type="file"
      name="avatars"
      #fileField
      (change)="upload($event.target.files)"
      hidden
      multiple
    />
  </a>
</div>
