@import '../../../../../styles';

.photographers {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: unset;
  }
}

img {
  margin: 0 auto;
  width: to-rem(210px);
  height: to-rem(210px);
  border-radius: 50%;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    margin: 0;
    width: to-rem(294px);
    height: to-rem(294px);
  }
}

.content {
  max-width: to-rem(460px);

  .photographer-name {
    font-size: to-rem(24px);
  }
}
