<div class="container">
  <h3 class="pt-5 text-center">Our Photographers</h3>
  <div class="photographers d-flex justify-content-around py-5">
    <img src="./assets/jakob-owens-DQPP9rVLYGQ-unsplash.jpg" />
    <div class="content align-self-center">
      <p class="photographer-name">Name: Jakob Owens</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at
        consectetur consequatur dolores esse excepturi id iste iure labore
        laudantium magnam maiores maxime, minus molestias officiis
        reprehenderit, vel veritatis? Similique!
      </p>
    </div>
  </div>
  <div class="photographers d-flex justify-content-around py-5">
    <img src="./assets/nicolas-ladino-silva-o2DVsV2PnHE-unsplash.jpg" />
    <div class="content align-self-center">
      <p class="photographer-name">Name: Isabela Oliver</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at
        consectetur consequatur dolores esse excepturi id iste iure labore
        laudantium magnam maiores maxime, minus molestias officiis
        reprehenderit, vel veritatis? Similique!
      </p>
    </div>
  </div>
  <div class="photographers d-flex justify-content-around py-5">
    <img src="./assets/charles-chen-dKsA5xl8Ygo-unsplash.jpg" />
    <div class="content align-self-center">
      <p class="photographer-name">Name: Mike Johnson</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at
        consectetur consequatur dolores esse excepturi id iste iure labore
        laudantium magnam maiores maxime, minus molestias officiis
        reprehenderit, vel veritatis? Similique!
      </p>
    </div>
  </div>
  <div class="photographers d-flex justify-content-around py-5">
    <img src="./assets/joshua-harvey-9y_etjI7QPI-unsplash.jpg" />
    <div class="content align-self-center">
      <p class="photographer-name">Name: Joshua Harvey</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at
        consectetur consequatur dolores esse excepturi id iste iure labore
        laudantium magnam maiores maxime, minus molestias officiis
        reprehenderit, vel veritatis? Similique!
      </p>
    </div>
  </div>
</div>
