<div class="container pt-4">
  <h3 class="text-center">Why us?</h3>
  <article
    class="d-flex flex-column flex-md-row justify-content-between text-center py-5"
  >
    <section>
      <p><i class="fas fa-camera"></i></p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi
        aperiam cumque delectus deserunt dolor.
      </p>
    </section>
    <section>
      <p><i class="fas fa-lightbulb"></i></p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi
        aperiam cumque delectus deserunt dolor.
      </p>
    </section>
    <section>
      <p>
        <i class="fas fa-star"></i><i class="fas fa-star"></i
        ><i class="fas fa-star"></i><i class="fas fa-star"></i
        ><i class="fas fa-star"></i>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi
        aperiam cumque delectus deserunt dolor.
      </p>
    </section>
  </article>
</div>
