@import '../../../../../../styles';

mat-card {
  background-color: color('white');
  color: color('dark-gray');

  img {
    min-height: to-rem(280px);
    object-fit: cover;
  }
}

app-button ::ng-deep button {
  width: 8rem;
}
