@import '../../../../../../styles';

mat-card {
  background-color: color('white');
  color: color('dark-gray');

  mat-card-title {
    margin-bottom: to-rem(10px);
    line-height: to-rem(24px);
  }

  button {
    outline: none;
  }

  .option-btn {
    top: 0;
    right: 0;
  }

  mat-card-subtitle {
    color: color('dark-gray');
    font-size: to-rem(12px);
  }

  mat-card-content {
    margin-bottom: to-rem(7px);
  }
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
