<mat-card>
  <mat-card-header class="position-relative">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Sphiba Iqnu</mat-card-title>
    <mat-card-subtitle class="text-muted">02.02.2020</mat-card-subtitle>
    <button
      class="option-btn position-absolute rounded-circle"
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a heart icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <img
    mat-card-image
    src="https://cdn.motor1.com/images/mgl/Wpyro/s1/audi-rs6-avant-by-wheelsandmore-lead-image.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of d...
    </p>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between p-0">
    <div>
      <button
        class="mr-1 rounded-circle"
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        class="rounded-circle"
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>comment</mat-icon>
      </button>
    </div>
    <button
      class="rounded-circle"
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a heart icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
