<mat-card>
  <mat-card-header class="position-relative">
    <img [src]="item.avatar" class="avatar-image" mat-card-avatar />
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle class="text-muted">{{ item.date }}</mat-card-subtitle>
    <button
      class="option-btn position-absolute rounded-circle"
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a heart icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <img
    [src]="item.imageSrc"
    class="content-image"
    mat-card-image
    alt="Not found!"
  />
  <mat-card-content>
    <p>{{ item.content }}</p>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between p-0">
    <div>
      <button
        class="mr-1 rounded-circle"
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        class="rounded-circle"
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>comment</mat-icon>
      </button>
    </div>
    <button
      class="rounded-circle"
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a heart icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
