<app-header
  (sidenavClose)="sidenav.close()"
  (sidenavToggle)="sidenav.toggle()"
  [navigation]="navigation"
  class="py-3"
></app-header>
<mat-sidenav-container class="flex-grow-1">
  <mat-sidenav #sidenav role="navigation" mode="over">
    <app-sidenav
      (sidenavClose)="sidenav.close()"
      [navigation]="navigation"
    ></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
