// Font size
$font-size: 14px;

// Colors
$white: #fff;
$black: #000;
$dark-gray: #444;
$primary: #ff0000;
$dark-red: #601313;
$accent: pink;
$pink: #673ab7;
$form: #fafafa;

$colors: (
  'white': $white,
  'black': $black,
  'dark-gray': $dark-gray,
  'red': $primary,
  'dark-red': $dark-red,
  'accent': $accent,
  'pink': $pink,
  'form': $form,
);
